@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  padding: 14px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  margin-top: 12px;
  border-radius: 7px;
  p {
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail.visible {
  opacity: 1;
}
